body{
  background: slategrey;
}
#header{
  background: crimson;
  color: #fff;
}
#menu{
  background: MEDIUMPURPLE;
}
#menu a{
  color: #fff;
}
#menu a:hover{
  background: crimson;
}
#content ::selection{
  background: crimson;
  color: #fff;
}
#sidebar{
  background: LAVENDER;
}
#sidebar a:hover{
  color: crimson;
}
#footer{
  background: crimson;
  color: #fff;
}
